// Only put variables here. This file is intended to be included for the majority of components and non-variables will be duplicated.
$brand-color: #39bb9c;
$brand-color-dark: #31a489;

$lightgrey: #eee;