@import '../vars';

.component {
	background: $brand-color;
    padding: 14px 0 14px 15px;
    width: 714px;
    float: left;
    h3, input, button {
    	float: left;
    }
    h3 {
	    text-transform: uppercase;
	    padding: 0 23px 5px 0;
	    font-weight: 700;
	    line-height: 25px;
	    font-size: 22px;
	    width: 100px;
    }
    input {
		width: 215px;
		margin-right: 13px;
    }
    button {
    	-webkit-appearance: none;
	    color: #fff;
	    width: 107px;
	    font-size: 18px;
	    border: 0;
	    padding: 7px 16px;
	    background: #000;
	    letter-spacing: 1px;
	    font-weight: 700;
	    &:hover {
	    	background: #2a2a2a;
	    }
    }
}